html,
body {
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

input,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

.form-container {
  border-right: 16px solid #c82879;
}

.form-container h2 {
  padding: 32px 24px 12px 24px;
  color: white;
  font-weight: 500;
}
